$maincolor: grey;
$offwhite: #EFF1F2;
$gold: #AF9453;
$goldtrans: rgba(175, 148, 83, .2);
$goldtranshover: rgba(175, 148, 83, .6);
$darkgrey: #232227;
$offwhitetrans: rgba(239, 241, 242, 0.7);
$lightblue: #6C8B98;
$aqualight: #D5DEE2;
$aquatrans: rgba(213, 222, 226, 0.7);

// media query mixins

@mixin bigTabletMQ {
    @media (max-width: 1091px) {
    @content;
    }
}

@mixin burgerMQ {
    @media (max-width: 810px) {
    @content;
    }
}

@mixin burgerTwoMQ {
    @media (max-width: 510px) {
    @content;
    }
}

@mixin tabletMQ {
    @media (max-width: 768px) {
    @content;
    }
}

@mixin phoneMQ {
    @media (max-width: 400px) {
    @content;
    }
}

