$maincolor: grey;
$offwhite: #EFF1F2;
$gold: #AF9453;
$darkgrey: #232227;
$offwhitetrans: rgba(239, 241, 242, 0.7);

// media query mixins

@mixin bigTabletMQ {
    @media (max-width: 1050px) {
    @content;
    }
}

@mixin tabletMQ {
    @media (max-width: 687px) {
    @content;
    }
}

@mixin phoneMQ {
    @media (max-width: 400px) {
    @content;
    }
}

