@import './setup';
@import './variables';

.how-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: $darkgrey;

    p {
        width: 60%;
    }
}