@import './setup';
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Unna:wght@700&display=swap');

// loading progress bar

#nprogress .bar {
    background: #FFBB00 !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px #FFBB00, 0 0 5px #FFBB00;
}

#nprogress .spinner-icon {
    border-top-color: #FFBB00;
    border-left-color: #FFBB00;
}

// **********

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    background-color: $offwhite;
    font-family: 'EB Garamond', serif;
    color: $darkgrey;
}

p {
    font-size: 2rem;
    opacity: .9;
    line-height: 3rem;
    font-family: 'Unna', serif;
}

h2 {
    color: $gold;
    font-size: 5rem;
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.down-arrow {
    border: none;
    background-color: transparent;
    color: $offwhite;
    font-size: 3rem;
    cursor: pointer;

    @include phoneMQ {
        margin: 100px 0;
        padding: 0;
    }
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100%;
}

.main-content {
    flex-grow: 1;
}

// Footer

footer {
    width: 100%;
    height: 50vh;
    background-color: $gold;
    margin-top: 100px;
    display: flex;
    color: $offwhite;

    @include tabletMQ {
        height: auto;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
    }

    @include phoneMQ {
        padding-top: 10px;
        margin-top: 30px;
    }

    .copyright-bottom {
        width: 100%;
        text-align: center;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin: 0 auto;
        height: 40vh;
        min-width: 700px;

        @include tabletMQ {
            width: 80%;
            min-width: 200px;
            flex-direction: column-reverse;
            height: 80vh;
            align-items: center;
            margin: 0;
            padding: 60px 0;
            justify-content: space-between;
        }

        @include phoneMQ {
            height: 100vh;
        }
    }

    .phone {
        display: flex;
        flex-direction: column;
        height: 100px;
        justify-content: space-around;

        @include tabletMQ {
            width: 200px;
        }
    }

    .copyright {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .isi-logo {
        opacity: .8;
        border-radius: 5px;
        width: 50%;
        box-shadow: 5px 5px 8px $offwhite;

        @include tabletMQ {
            position: relative;
            left: 12px;
        }
    }

    p {
        @include tabletMQ {
            margin: 0 auto;
            padding: 0;
            width: 200px;
        }
    }

    a {
        color: $offwhite;
        font-size: 2rem;
    }

    span {
        border: 1px solid $offwhite;
        height: 100px;
        opacity: .4;
        margin: 15px;

        @include tabletMQ {
            display: none;
        }
    }
}

.top-nav {
    display: flex;
    width: 400px;
    justify-content: space-between;
    list-style-type: none;
    
}

.social-links {
    margin: 0;
    display: flex;

    @include phoneMQ {
        width: 70%;
    }
    
    li {
        padding: 20px;
        transition: all .2s ease-in-out;
        
        svg {
            font-size: 3rem;
        }

        &:hover,
        &:focus {
            transform: scale(1.4);
        }
    }

}

.main-image-header {
    // background-image: url(../src/images/pexels-fox-998521.jpg);
    height: 85vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 15vh;

    @include tabletMQ {
        height: auto;
        padding: 100px 0;
    }
}

.about-header {
    color: $offwhite;
    margin-top: 0;
    margin-left: 200px;
    margin-top: 120px;
    
    @include phoneMQ {
        padding-left: 40%;
        margin-left: 0;
    }
}

.about-header-container {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;

    @include phoneMQ {
        width: 40%;
    }

    h1 {
        font-size: 8rem;
        opacity: .8;

        @include tabletMQ {
            font-size: 6rem;
        }

        @include phoneMQ {
            font-size: 4rem;
        }
    }

    h2 {
        color: $offwhite;
        margin-left: 200px;
        opacity: .8;

        @include phoneMQ {
            font-size: 3rem;
            margin-left: 150px;
        }

        
    }
}
// About Section

.about-section {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include tabletMQ {
        height: auto;
        width: 80%;
        padding: 100px 0;
        padding-left: 10%;
        
    }

    .message-link {
        font-size: 2.5rem;
        padding-right: 5px;
        color: $gold;
        transition: all .2s ease-in-out;

        &:hover,
        &:focus {
            color: grey;
        }
    }
}

// Examples Section

.examples {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color: $darkgrey;
    margin-top: 15vh;

    h1 {
        color: $gold;
        padding-left: 10%;
    }

    p {
        width: 60%;
    }

}


// Contact Page

.contact-section {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color: $darkgrey;
    width: 70%;
    margin: 0 auto;
    margin-top: 15vh;

    li {
        padding: 10px 6px;
        margin: 0;
        color: grey;
    }

    a {
        color: grey;
        margin: 0;
    }

}

.form-container {
    display: flex;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;

    @include phoneMQ {
        padding-bottom: 100px;
    }

    input[type="text"], input[type="email"] {
        border: none;
        border-radius: 2px;
        padding: 5px;
    }

    textarea {
        resize: none;
        border: none;
        border-radius: 2px;
        padding: 5px;
        height: 200px;
        margin: 20px 0;
    }

    button {
        margin: 0 auto;
        margin-top: 20px;
        border: none;
        border: 2px solid transparent;
        background-color: $gold;
        border-radius: 4px;
        width: 20%;
        padding: 10px;
        color: $offwhite;
        cursor: pointer;
        transition: all .2s ease-in-out;

        @include tabletMQ {
            width: 100%;
        }

        &:active {
            position: relative;
            top: 2px;
            color: $darkgrey;
            opacity: .6;
        }

        &:hover,
        &:focus {
            background-color: transparent;
            border: 2px solid $gold;
            color: $gold;
        }
    }
}

// How it Works Page

.how-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    // align-items: center;
    font-size: 2rem;
    color: $darkgrey;
    margin-left: 100px;
    margin-top: 15vh;

    @include tabletMQ {
        margin: 15vh 0 0 0;
        padding-left: 10%;
    }

    p {
        width: 60%;

        @include tabletMQ {
            width: 80%;
        }
    }

    .message-link {
        font-size: 2.5rem;
        padding-left: 5px;
        color: $gold;
        transition: all .2s ease-in-out;

        &:hover,
        &:focus {
            color: grey;
        }
    }
}

// Blog page

.blog-section {
    width: 100%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    color: $darkgrey;
    margin-top: 15vh;

    @include bigTabletMQ {
        margin-left: 0;
    }

    .blog-header {
        margin-bottom: 50px;

        @include bigTabletMQ {
            padding-left: 10%;
        }
    }

    .blog-container1 {
        display: flex;

        @include bigTabletMQ {
            width: 80%;
            margin-left: 10%;
        }
    }

    p {
        width: 90%;
    }

    h3 {
        font-size: 3rem;
        opacity: .9;
    }

    h4 {
        color: grey;
    }

    .parallax-image-one, .parallax-image-two {
        width: 90%;
        margin-bottom: 0;
        height: 600px;
    }

    // Original Img Containers (before Parallax)

    // .blog-image-container1 {
    //     // width: 100%;
    //     // margin: 80px 0;
    //     // height: 100%;
    //     // @include tabletMQ {
    //     //     margin: 0;
    //     // }

    //     // img {
    //     //     width: 80%;
    //     // }
    // }


    // .blog-image-container2 {
    //     width: 100%;
    //     margin: 80px 0;
    //     @include tabletMQ {
    //         margin: 0;
    //     }

    //     img {
    //         width: 80%;
    //     }
    // }

}

.pricing-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    margin-top: 15vh;
    height: 60vh;

    @include tabletMQ {
        height: auto;
        margin: 20vh 0;
        padding-left: 10%;
    }

    p {
        width: 60%;

        @include tabletMQ {
            width: 80%;
        }
    }
}
