@import './setup';
@import './variables';

// loading progress bar

#nprogress .bar {
    background: #FFBB00 !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px #FFBB00, 0 0 5px #FFBB00;
}

#nprogress .spinner-icon {
    border-top-color: #FFBB00;
    border-left-color: #FFBB00;
}

// **********

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    background-color: $offwhite;
    font-family: Unna;
    color: $darkgrey;
    opacity: .9;
}

p {
    font-size: 2rem;
}

h2 {
    color: $gold;
    font-size: 5rem;
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


.down-arrow {
    border: none;
    background-color: transparent;
    color: $offwhite;
    font-size: 6rem;
    position: absolute;
    bottom: 0;
    left: 48%;
    cursor: pointer;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100%;
}

.main-content {
    flex-grow: 1;
}


// Footer

.footer {
    width: 100%;
    height: 20vh;
    background-color: $gold;
    margin-top: 100px;

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin: 0 auto;
        height: 20vh;
    }

    a {
        color: $offwhite;
        font-size: 2rem;
    }
}
.top-nav {
    display: flex;
    width: 400px;
    justify-content: space-between;
    list-style-type: none;
    
}

.social-links {
    margin: 0;
    
    li {
        text-decoration: none;
        list-style-type: none;
    }
    
    a {
        text-decoration: none;
    }
}

.main-image-header {
    background-image: url(../src/images/pexels-fox-998521.jpg);
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

// About Section

.about-section {
    margin: 200px 0;

    .message-link {
        font-size: 2.5rem;
        padding-right: 5px;
    }
}

.about-header {
    color: $offwhite;
    margin-top: 0;
}
.about-header-container {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;

    h1 {
        margin: 300px;
        font-size: 8rem;
    }
}

// Contact Page

.contact-section {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color: $darkgrey;
    width: 70%;
    margin: 0 auto;

    li {
        padding: 10px 6px;
        margin: 0;
    }

    a {
        color: grey;
        margin: 0;
    }
}

.form-container {
    display: flex;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 100px;

    input[type="text"], input[type="email"] {
        border: none;
        border-radius: 2px;
        padding: 5px;
    }

    textarea {
        resize: none;
        border: none;
        border-radius: 2px;
        padding: 5px;
        height: 200px;
        margin: 20px 0;
    }

    button {
        margin: 0 auto;
        margin-top: 20px;
        border: none;
        border: 2px solid transparent;
        background-color: $gold;
        border-radius: 4px;
        width: 20%;
        padding: 10px;
        color: $offwhite;
        cursor: pointer;
        &:active {
            position: relative;
            top: 2px;
            color: $darkgrey;
            opacity: .6;
        }

        &:hover,
        &:focus {
            background-color: transparent;
            border: 2px solid $gold;
            color: $gold;
        }
    }
}

// How it Works Page

.how-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    // align-items: center;
    font-size: 2rem;
    color: $darkgrey;

    p {
        width: 60%;
    }
}

// Blog page

.blog-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    color: $darkgrey;

    .blog-header {
        margin-bottom: 100px;
    }

    .blog-container1 {
        display: flex;
    }

    p {
        width: 90%;
    }

    .blog-image-container1 {
        width: 100%;
        margin: 80px 0;

        img {
            width: 80%;
        }
    }


    .blog-image-container2 {
        width: 100%;
        margin: 80px 0;

        img {
            width: 80%;
        }
    }

}
