@import './setup';
@import './variables';

body {
    background-color: $offwhite;
}

.about-header {
    color: $maincolor;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.top-nav {
    display: flex;
    width: 400px;
    justify-content: space-between;
    list-style-type: none;
    
}

.social-links {
    margin: 0;
    
    li {
        text-decoration: none;
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }
}

.paragraph {
    background: blue;
}

.main-image-header {
    background-image: url(../src/images/pexels-fox-998521.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}