@import './setup';
@import './variables';


.our-day-logo {
    color: $gold;
    font-size: 5rem;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 20vh;
}

nav .logo {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: $gold;
}

nav .nav-links {
    display: flex;
    justify-content: space-around;
    width: 34%;
    transition: 0.5s ease-in;
}

.top-link {
    color: black;
}

nav .nav-links .nav-link {
    font-size: 20px;
    color: black;
    opacity: .7;
}

nav .nav-links .nav-link:hover {
    color: black;
}

nav .burger {
    font-size: 30px;
    display: none;
    cursor: pointer;
}

.nav-link-active {
    color: grey;
    opacity: 1;
}

@media all and (max-width: 768px) {

    nav .burger {
        display: block;
    }

    nav .nav-links {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: $offwhite;
        width: 30%;
        transform: translateX(-500px);
    }

    nav .nav-links li {
        padding: 25px 25px 25px 0;
        border-bottom: 3px solid $gold;
        width: 50%;
    }

    nav .nav-links li:last-of-type {
        border-bottom: 0px solid $gold;
    }
}