@import './setup';
@import './variables';

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightgrey;
    min-height: 10vh;
}

nav .logo {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

nav .nav-links {
    display: flex;
    justify-content: space-around;
    width: 34%;
    transition: 0.5s ease-in;
}

nav .nav-links .nav-link {
    font-size: 20px;
    color: black;
}

nav .nav-links .nav-link:hover {
    color: blue;
}

nav .burger {
    font-size: 30px;
    display: none;
    cursor: pointer;
}

@media all and (max-width: 768px) {

    nav .burger {
        display: block;
    }

    nav .nav-links {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: lightgray;
        width: 50%;
        transform: translateX(-500px);
    }

    nav .nav-links li {
        padding: 25px;
        border-bottom: 3px solid $gold;
    }

    nav .nav-links li:last-of-type {
        padding: 25px;
        border-bottom: 0px solid $gold;
    }



}