@import './setup';
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

.our-day-logo {
    color: $gold;
    font-size: 5rem;
    position: relative;
    left: 14px;

    @include tabletMQ {
        font-size: 3rem;
    }
}

.our-day-logo2 {
    color: $gold;
    font-size: 5rem;
    position: relative;
    display: none;

    @include tabletMQ {
        font-size: 2.5rem;
        display: block;
        left: 10px;
    }
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    height: 15vh;
    flex-wrap: nowrap;
    font-family: 'EB Garamond', serif;
    transition: all .5s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $aquatrans;
    z-index: 1000;
}

nav .logo {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: $gold;
    position: relative;

    @include tabletMQ {
        font-size: 15px;
    }
}

nav .logo2 {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: $gold;
    position: relative;
    display: none;

    @include tabletMQ {
        font-size: 10px;
        display: block;
    } 
}

.mobile-nav-logo {
    display: none;

    @include tabletMQ {
        display: block;
    }
}

nav .nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
    transition: 0.5s ease-in;
    padding-left: 20px;
    z-index: 20000;
}

.top-link {
    color: black;
}

nav .nav-links .nav-link {
    font-size: 20px;
    color: black;
    opacity: .7;
}

nav .nav-links .nav-link:hover {
    color: black;
}

nav .burger {
    font-size: 40px;
    display: none;
    cursor: pointer;
    color: $gold;
}

.nav-link-active {
    color: $lightblue;
    opacity: 1;
}

@media all and (max-width: 768px) {

    nav .burger {
        display: block;
    }

    nav .nav-links {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: $aquatrans;
        width: 50%;
        transform: translateX(-500px);
    }

    nav .nav-links li {
        padding: 50px 25px 25px 15px;
        border-bottom: 3px solid $gold;
        width: 50%;
    }

    nav .nav-links li:last-of-type {
        border-bottom: 0px solid $gold;
    }
}

@media all and (max-width: 500px) {

    nav .nav-links {
        width: 70%;
    }
    
}